.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sticky-header tr {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightgray;
}

.table-header:hover {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.is-scrollable {
  overflow-y: auto;
  max-height: 500px;
  /* width: 100%; */
  /* margin: auto; */
  border-bottom: 1px solid rgba(220,220,220,0.5);
}

@keyframes flash {
  0% { color: black; }
  50% { color: lime; }
  100% { color: black; }
}

.flash {
  animation: flash 2s linear;
}