.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sticky-header tr {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightgray;
}

.table-header:hover {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.is-scrollable {
  overflow-y: auto;
  max-height: 600px;
  /* width: 100%; */
  /* margin: auto; */
  border-bottom: 1px solid rgba(220,220,220,0.5);
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes flash {
  0% { color: black; }
  50% { color: #00d1b2; }
  100% { color: black; }
}

.flash {
  animation: flash 0.5s linear;
}

.fa-play:hover, .fa-pause:hover {
  color: #00d1b2;
  cursor: pointer;
}

.highlighted-row {
  animation-name: highlight-row;
  animation-duration: 5s;
}

@keyframes highlight-row {
  from {background-color: #FFFF88;}
  to {background-color: white;}
}

footer {
  position: sticky;
  padding: 0.5rem 1.5rem;
}

.audio-player {
  max-width: 100%;
}



@media (max-width: 768px) {
  td, th {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  /* Hide table headers */
  .sticky-header, th {
    display: none;
  }
  /* Make table rows behave like blocks */
  tr {
    margin-bottom: 0.625rem;
    display: block;
    min-height: 1.25rem;

  }
  tr:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    background-color: #00d1b2;
    margin: 0.625rem 0;
  }
  /* Stack table cells vertically */
  td {
    display: block;
    /* Add space between cells */
    margin-bottom: 0.3rem;
    /* Right-align text */
    text-align: right !important;
  }
  /* Add pseudo-element to display data labels */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .is-scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .is-scrollable::-webkit-scrollbar {
    display: none;
  }
}
