{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success is-light">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
  {% set sorted_by = sort_by %}
<div class="table-container">
    <table class="table">
        <thead>
            <th><a href="/songs?sort-by=song-id&sorted_by={{ sorted_by }}">Song ID</a></th>
            <th><a href="/songs?sort-by=song-name&sorted_by={{ sorted_by }}">Song Name</a></th>
            <th><a href="/songs?sort-by=song-artist&sorted_by={{ sorted_by }}">Song Artists</a></th>
            <th><a href="/songs?sort-by=song-genre&sorted_by={{ sorted_by }}">Song Genres</a></th>
            <th><a href="/songs?sort-by=site-name&sorted_by={{ sorted_by }}">Site</a></th>
            <th><a href="/songs?sort-by=spotify-track-id&sorted_by={{ sorted_by }}">Spotify Track ID</a></th>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr id="{{ song.id }}">
                    <td><a href="/view-song/{{ song.id }}" class="is-link is-underlined">{{ song.id }}</a></td>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artists }}</td>
                    <td>{{ song.genres }}</td>
                    <td>{{ song.site_name }}</td>
                    <td><a href="/search/{{ song.id }}" target="_blank">{{ song.spotify_track_id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}