{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success is-light">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
<div class="table-container">
    <table class="table">
        <thead>
            <th><a href="/songs?sort-by=song-id">Song ID</a></th>
            <th><a href="/songs?sort-by=song-name">Song Name</a></th>
            <th><a href="/songs?sort-by=song-artist">Song Artists</a></th>
            <th><a href="/songs?sort-by=song-genre">Song Genres</a></th>
            <th><a href="/songs?sort-by=site-name">Site</a></th>
            <th><a href="/songs?sort-by=spotify-track-id">Spotify Track ID</a></th>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td><a href="/view-song/{{ song.id }}" class="is-link is-underlined">{{ song.id }}</a></td>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artists }}</td>
                    <td>{{ song.genres }}</td>
                    <td>{{ song.site_name }}</td>
                    <td><a href="/search/{{ song.id }}" target="_blank">{{ song.spotify_track_id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}