{% extends "base.html" %}

{% block content %}
<h1 class="title is-spaced">
  Welcome to the Amazing Top Tracks Recommendations Web Scraper!
</h1>
<div class="columns">
    <div class="column is-half">
      <p class="subtitle is-5">
        Head over to the <span class="has-text-link"><a href="{{ url_for('signup') }}">Sign Up</a></span> page to get a regularly updating Spotify playlist with the best new tracks as recommended by websites such as <span class="has-text-link"><a href="https://pitchfork.com" target="_blank">Pitchfork</a></span>.
      </p>
  </div>
</div>
{% endblock %}