{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success is-light">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
  Welcome, {{ name }}!
</h1>
<span class="has-text-link"><a href="{{ url_for('authorize') }}">Authorize Spotify Account</a></span></span>
<br><br>
<span class="has-text-link"><a href="{{ url_for('un_authorize') }}">Remove/Un-authorize Spotify Account</a></span></span>
{% endblock %}