{% extends "base.html" %}

{% block content %}
<h1 class="title is-spaced">
  {{ song.name }}
</h1>
<form action="/update-track-id" method="POST">
  <label for="song-id">Song ID:</label>
  <input class="input is-info" type="text" value="{{ song.id }}" id="song-id" name="song-id" readonly>

  <label for="song-artists">Artists:</label>
  <input class="input is-info" type="text" value="{{ song.artists }}" id="song-artists" name="song-artists" readonly>

  <label for="song-genres">Genres:</label>
  <input class="input is-info" type="text" value="{{ song.genres }}" id="song-genres" name="song-genres" readonly>

  <label for="site-name">Review Site:</label>
  <input class="input is-info" type="text" value="{{ song.site_name }}" id="site-name" name="site-name" readonly>

  <label for="spotify-track-id">Spotify Track ID:</label>
  {% if song.spotify_track_id %}
    <input class="input is-primary" type="text" placeholder="{{ song.spotify_track_id }}" id="spotify-track-id" name="spotify-track-id">
  {% else %}
    <input class="input is-primary" type="text" placeholder="Enter Spotify Track ID" id="spotify-track-id" name="spotify-track-id">
  {% endif %}
  <input type="submit" value="Update Track ID">
</form>
{% endblock %}